body {
    background-color: darkolivegreen;
    margin-left: 40px;
    
}

h1 {
    color: floralwhite;
    font: "Georgia";
    font-size: 127px;
}

p {
    color: floralwhite;
    font: "Georgia";
        
}

h2 {
    color: floralwhite;
    font: "Georgia";
        
}

a {
    color: darkseagreen;
    font: "georgia";
}